.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
  padding: 0px 0px 60px 0px;
}
.education__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  padding: 40px 0px 0px 0px;
  gap: 12px;
}
.education__title {
  color: rgb(242, 243, 244);
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}
.education__desc {
  color: rgb(177, 178, 179);
  font-size: 18px;
  text-align: center;
  max-width: 600px;
}
.education__timeline {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.education__card {
  width: 650px;
  border-radius: 10px;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  padding: 12px 16px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  border: 0.1px solid #854ce6;
}
.education__card_top {
  width: 100%;
  display: flex;
  gap: 12px;
}
.education__card_img {
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  margin-top: 4px;
}
.education__card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.education__card_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.education__card_name { 
    color: rgba(242, 243, 244, 0.6);
  font-size: 18px;
  font-weight: 600;
}
.education__card_degree { 
    color: rgba(177, 178, 179, 0.6);
  font-size: 14px;
  font-weight: 500;
}
.education__card_date { 
    color: rgba(177, 178, 179, 0.5);
  font-size: 12px;
  font-weight: 400;
}
.education__card_grade { 
    color: rgba(177, 178, 179, 0.6);
  font-size: 14px;
  font-weight: 500;
}
.education__card_desc {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgba(242, 243, 244, 0.6);
}
.education__card_span {
  overflow: hidden;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media (max-width: 960px) {
  .education__wrapper {
    flex-direction: column;
  }
  .education {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .education__card_name {
    font-size: 14px;
  }
  .education__card_img {
    height: 40px;
  }
  .education__card {
    padding: 10px;
    gap: 8px;
    width: 300px;
  }
  .education__desc {
    margin-top: 12px;
    font-size: 16px;
  }
  .education__title {
    margin-top: 12px;
    font-size: 32px;
  }
  .education__card_degree,
  .education__card_grade,
  .education__card_desc {
    font-size: 12px;
  }
  .education__card_date {
    font-size: 10px;
  }
}

@media (max-width: 660px) {
  .education__timeline {
    align-items: end;
  }
}
